.venv/
__pycache__/
*.pyc
instance.env
state/last_status.json
nginx/config/*.conf
!nginx/config/.gitkeep
web-sub/site/index.html
web-sub/site/clash.yaml
!web-sub/site/.gitkeep
fake-site/site/index.html
!fake-site/site/.gitkeep
xui/data/*
!xui/data/.gitkeep
sub2sing-box/data/*
!sub2sing-box/data/.gitkeep
install/host/last_prepare.json
.ssh/
temp/*
!temp/.gitkeep
!temp/README.md
