.venv/
__pycache__/
*.pyc
instance.env
state/last_status.json
nginx/config/*.conf
!nginx/config/.gitkeep
web-sub/site/index.html
web-sub/site/clash.yaml
!web-sub/site/.gitkeep
fake-site/site/index.html
!fake-site/site/.gitkeep
xui/data/*
!xui/data/.gitkeep
xui/backup/*
!xui/backup/.gitkeep
xui/logs/*
!xui/logs/.gitkeep
sub2sing-box/data/*
!sub2sing-box/data/.gitkeep
sub2sing-box/logs/*
!sub2sing-box/logs/.gitkeep
nginx/logs/*
!nginx/logs/.gitkeep
install/host/last_prepare.json
install/logs/*
!install/logs/.gitkeep
.ssh/
temp/*
!temp/.gitkeep
!temp/README.md
