.venv/
__pycache__/
*.pyc
instance.env
state/last_status.json
nginx/config/*.conf
!nginx/config/.gitkeep
web/client_page/index.html
web/client_page/clash.yaml
!web/client_page/.gitkeep
web/fake_site/index.html
!web/fake_site/.gitkeep
xui/data/*
!xui/data/.gitkeep
subconverter/data/*
!subconverter/data/.gitkeep
install/host/last_prepare.json
.ssh/
temp/*
!temp/.gitkeep
!temp/README.md
