# Copy to ./instance.env or let `python -m install init` generate it.
INSTANCE_NAME=yn62
DOMAIN=example.com
REALITY_DOMAIN=reality.example.com
AUTODOMAIN=false
TZ=Europe/Moscow
XUI_IMAGE=ghcr.io/mhsanaei/3x-ui@sha256:34c46ea6d838df981c4760bd1fe442413c2b99bbe4bb49dfa3d1bfb8a8a92496
NGINX_IMAGE=nginx@sha256:65645c7bb6a0661892a8b03b89d0743208a18dd2f3f17a54ef4b76fb8e2f2a10
SUBCONVERTER_IMAGE=tindy2013/subconverter@sha256:52191601780c1e6427e2239e330a7e1147ff5a684a204ca9cc75b4ada2d7fa75
TGPROXY_IMAGE=nineseconds/mtg@sha256:32e3b3e75ff1931c7b7a3d63557f0a1dd1f7963c08c97bacfa28f3267827ce0f
ENABLE_FAKE_SITE=true
ENABLE_SUBCONVERTER=true
ENABLE_TGPROXY=false
ENABLE_EXTENSIONS=true
FAKE_SITE_TEMPLATE=signal-wire
WEB_SUB_TEMPLATE=clean-card
CLASH_TEMPLATE=default
TGPROXY_PUBLIC_HOST=tg.example.com
TGPROXY_FAKETLS_DOMAIN=tg.example.com
CERTBOT_STAGING=false
CERT_LIVE_DIR=/etc/letsencrypt/live/example.com
TGPROXY_TOLERATE_TIME_SKEWNESS=30s
TGPROXY_CLOAK_PORT=9444
TGPROXY_LOOP_NETWORK=tgproxy-loop-net
TGPROXY_LOOP_SUBNET=10.251.79.0/24
TGPROXY_LOOP_NGINX_IP=10.251.79.10
TGPROXY_LOOP_TGPROXY_IP=10.251.79.11
STREAM_TGPROXY_PORT=9445
STREAM_PANEL_PORT=9446
STREAM_REALITY_PORT=9447
TGPROXY_PORT=3128
TGPROXY_SECRET=
