# Copy to ./instance.env or let `python -m install init` generate it.
INSTANCE_NAME=yn62
DOMAIN=example.com
REALITY_DOMAIN=reality.example.com
AUTODOMAIN=false
TZ=Europe/Moscow
XUI_IMAGE=ghcr.io/mhsanaei/3x-ui:latest
NGINX_IMAGE=nginx:1.27-alpine
SUBCONVERTER_IMAGE=tindy2013/subconverter:latest
ENABLE_FAKE_SITE=true
ENABLE_SUBCONVERTER=true
ENABLE_EXTENSIONS=true
FORCE_DARK_THEME=true
FAKE_SITE_TEMPLATE=signal-wire
WEB_SUB_TEMPLATE=clean-card
CLASH_TEMPLATE=default
CERT_LIVE_DIR=/etc/letsencrypt/live/example.com
