stream {
    map $ssl_preread_server_name $upstream_backend {
        ${REALITY_DOMAIN} reality_backend;
        default panel_https_backend;
    }

    upstream reality_backend {
        server xui:8443;
    }

    upstream panel_https_backend {
        server 127.0.0.1:9443;
    }

    server {
        listen 443 reuseport;
        proxy_pass $upstream_backend;
        ssl_preread on;
    }
}
